<div class="bg-dark container-fluid mt-5 row text-light pb-5">
    <div class="col-md-4 col-sm-12">
       <h4 class="pt-5">GET IN TOUCH</h4>
       <div class="pt-3">
           kr12@hotmail.com
       </div>
       717-555-1234
    </div>
    <div class="col-md-4 col-sm-12 pt-5">
       <button class="bg-dark col-md-4 col-sm-2 mt-5 text-center text-light p-2 border-1 border-white ms-5">Contact Me </button>
    </div>
    <div class="col-md-4 col-sm-12 pt-5 mt-5 ps-5">
       <p>Copyrights &copy; 2019 KR</p>
    </div>
   </div>