<section class="skills text-light mt-5">
    <div class="w-75 mx-auto mb-5">
        <h1 class="text-center mb-4">Skills</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur.</p>
    </div>
    <div class="row pb-6">
        <div class="col-md-6 col-sm-12 justify-content-center font-weight-light">
            <div class="my">
            <h2 class="border-bottom border-white border-1 text-uppercase text-center pb-3">My Focus</h2></div>
            <ul *ngFor="let skill of techskills" class="pt-3 w-50 my">
                <li>
                    <h3> {{skill}} </h3>
                </li>
            </ul>
        
        </div>

        <div class=" col-md-6 col-sm-12 justify-content-center">
            <div class="row pb-3">
                
                <div class="col-md-8 pb-5">

                    <div class="progress rounded-0" style="height: 50px;">
                        <div class="progress-bar bg-grey" role="progressbar" style="width:20%;" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100"> HTML</div>
                        <div class="progress-bar bar_color" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>

                    <div class="progress rounded-0" style="height: 50px;">
                        <div class="progress-bar bg-grey" role="progressbar" style="width:20%;" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100">CSS</div>
                        <div class="progress-bar bar_color" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>

                    <div class="progress rounded-0" style="height: 50px;">
                        <div class="progress-bar bg-grey" role="progressbar" style="width:20%;" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100">JavaScript</div>
                        <div class="progress-bar bar_color" role="progressbar" style="width: 60%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>

                    <div class="progress rounded-0" style="height: 50px;">
                        <div class="progress-bar bg-grey" role="progressbar" style="width:20%;" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100">React</div>
                        <div class="progress-bar bar_color" role="progressbar" style="width: 60%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>

                    <div class="progress rounded-0" style="height: 50px;">
                        <div class="progress-bar bg-grey" role="progressbar" style="width:20%;" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100">Photoshop</div>
                        <div class="progress-bar bar_color" role="progressbar" style="width: 70%;" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>

                    <div class="progress rounded-0" style="height: 50px;">
                        <div class="progress-bar bg-grey" role="progressbar" style="width:20%;" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100">Adobe XD</div>
                        <div class="progress-bar bar_color" role="progressbar" style="width: 60%;" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>

                    <div class="progress rounded-0" style="height: 50px;">
                        <div class="progress-bar bg-grey" role="progressbar" style="width:20%;" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100">Node.js</div>
                        <div class="progress-bar bar_color" role="progressbar" style="width: 40%;" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>

                    <div class="progress rounded-0" style="height: 50px;">
                        <div class="progress-bar bg-grey" role="progressbar" style="width:20%;" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100">WordPress</div>
                        <div class="progress-bar bar_color" role="progressbar" style="width: 30%;" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>