.portfolio {
  margin: 100px 0;
}
.portfolio h1 {
  
  text-shadow: 11px 11px 3px #BFBCC1;
}
.portfolio__projects div {
  padding: 4rem;
  color: white;

}
.portfolio__projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px 5px;
  justify-items: center;
}
.portfolio__projects div:nth-child(odd) {
  width: 70%;
  background-color: rgb(64,64,64);
}
.portfolio__projects div:nth-child(even) {
  width: 70%;
  background-color: rgb(149,145,136);
}

.project {
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
}
.project h3 {
  font-size: 20px;
}
.project p {
  font-size: 14px;
}
  